@media only screen and (max-width: 700px){

    /*#region*/     /* INDEX - SECCIONES*/

    #grid-seccion{

        height: calc(100vh - 45px);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    
        grid-template-areas: "a1"
                             "a2"
                             "a3"
                             "a4";
    
        padding: 15px;
        padding-top: calc(50px + 20px);
        
    
        column-gap: 15px;
        row-gap: 15px;
    }
    

    /*#endregion*/

    
    
    /*#region*/     /* INDEX - PRODUCTOS */

    .box-productos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 250px 250px;
        margin:20px;
        row-gap: 15px;
        column-gap: 15px;
    }
    .box-imagen {
        height: 150px;
    }

    /*#endregion*/
    

    /*#region*/     /* CONTACTOS */

        .contenido{
            grid-template-columns: 1fr;
    grid-template-rows: 100px 0.5fr 1fr 150px 1fr;
            grid-template-areas: "a1"
                                 "a3"
                                 "a5"
                                 "a2"
                                 "a4" ;
        }

    /*#endregion*/

    /*#region*/ /* PRODUCTOS - GENERAL */

    .box-productos{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 250px;
    }

    /*#endregion*/
}