.box-productos{
/* vuelvo a repetir pero considero la importancia de la secuencia en cascada */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 400px;
    margin:20px;
    row-gap: 15px;
    column-gap: 15px;
}
.box-productos .box .box-imagen a .div-1{
    background-image: url(../img/terrarios/terra1.avif);
}
.box-productos .box .box-imagen a .div-2{
    background-image: url(../img/macetas/mace2.jpg);
}
.box-productos .box .box-imagen a .div-3{
    background-image: url(../img/plantas/zucu2.jpg);
}
.box-productos .box .box-imagen a .div-4{
    background-image: url(../img/cactus/cactus1.jpg);
}
#destacados > p{
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}